body {
    font-size: 22px;
    line-height: 34px;
}

header,
nav {
    background-color: #FD739C;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    padding: 100px 0px 50px;
}

h1,
h2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 30px;
}

.center {
    text-align: center;
}

